// 
// _page-head.scss
// 


.page-title-box {
    padding: 1.2rem 0;
    background-color: transparent !important;
    border-bottom: none;
    border-top: none;
    box-shadow: none;
    margin: 0;

    @media (min-width: 1024.1px) {
        margin: -19px 0 0 0;
    }
}
